---
trust-domain: "releng"
task-priority: low

taskgraph:
  cached-task-prefix: "releng.v2.k8s-autoscale"
  repositories:
    k8s_autoscale:
      name: "k8s-autoscale"

workers:
  aliases:
    test:
      provisioner: '{trust-domain}-t'
      implementation: docker-worker
      os: linux
      worker-type: linux-docker
    images:
      provisioner: '{trust-domain}-{level}'
      implementation: docker-worker
      os: linux
      worker-type: linux-docker
