worker_types:
  - worker_type: gecko-1-addon-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-addon
    deployment_name: addon-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-balrog-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-balrog
    deployment_name: balrog-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 10
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-1-balrog-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-balrog
    deployment_name: balrog-dev-relengworker-firefoxci-xpi-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 10
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-beetmover-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-beetmover
    deployment_name: beetmover-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-1-beetmover-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-beetmover
    deployment_name: beetmover-dev-relengworker-firefoxci-xpi-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mozillavpn-1-beetmover-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-beetmover
    deployment_name: beetmover-dev-relengworker-firefoxci-mozillavpn-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: app-services-1-beetmover-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-beetmover
    deployment_name: beetmover-dev-relengworker-firefoxci-app-services-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: translations-1-beetmover-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-beetmover
    deployment_name: beetmover-dev-relengworker-firefoxci-translations-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 5
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-bitrise-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-bitrise
    deployment_name: bitrise-dev-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 120
        slo_seconds: 240
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-bouncer-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-bouncer
    deployment_name: bouncer-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-github-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-github
    deployment_name: github-dev-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-1-github-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-github
    deployment_name: github-dev-relengworker-firefoxci-xpi-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-pushapk-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-pushapk
    deployment_name: pushapk-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mozillavpn-1-pushapk-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-pushapk
    deployment_name: pushapk-dev-relengworker-firefoxci-mozillavpn-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-pushflatpak-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-pushflatpak
    deployment_name: pushflatpak-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-pushmsix-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-pushmsix
    deployment_name: pushmsix-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 360
        slo_seconds: 720
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-1-pushmsix-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-pushmsix
    deployment_name: pushmsix-dev-relengworker-firefoxci-comm-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 360
        slo_seconds: 720
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mozillavpn-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-mozillavpn-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-xpi-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: adhoc-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-adhoc-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: app-services-1-shipit-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-shipit
    deployment_name: shipit-dev-relengworker-firefoxci-app-services-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-gecko-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: enterprise-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-enterprise-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-mobile-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 20
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: xpi-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-xpi-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 10
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mozillavpn-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-mozillavpn-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: adhoc-t-signing-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-signing
    deployment_name: signing-dev-relengworker-firefoxci-adhoc-t-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 10
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: comm-1-tree-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-tree
    deployment_name: tree-dev-relengworker-firefoxci-comm-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-tree-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-tree
    deployment_name: tree-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: mobile-1-tree-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-tree
    deployment_name: tree-dev-relengworker-firefoxci-mobile-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 1
        avg_task_duration: 60
        slo_seconds: 120
        capacity_ratio: 1.0
        min_replicas: 0

  - worker_type: gecko-1-lando-dev
    provisioner: scriptworker-k8s
    root_url: "https://firefox-ci-tc.services.mozilla.com"
    deployment_namespace: dev-lando
    deployment_name: lando-dev-relengworker-firefoxci-gecko-1-1
    autoscale:
      algorithm: slo
      args:
        max_replicas: 10
        # these seem like weird values, and they are, but they effectively mean
        # "always spin up a new replica for each task"
        # a better solution would be a new algorithm that means exactly that,
        # but this is good enough for now
        avg_task_duration: 1999
        slo_seconds: 2000
        capacity_ratio: 1.0
        min_replicas: 0

healthcheck_file: /app/healthy
